
<% if @article.errors.any? %>
 <div style="color:red"><h6><%= pluralize(@article.errors.count, "error")%> prevented the article from being saved </h6></div>
 <div style="color:red;">
   <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
   </ul>
  </div>
<% end %>

<%= form_with(model: @article, local: true ) do |form| %>

<div class="form-group mb-2">
  <%= form.label :title, style:"display:block"  %>
  <%= form.text_field :title, class:"form-control form-control-sm"%>
</div>

<div class="form-group mb-2">
  <%= form.label :body, style:"display:block" %>
  <%= form.text_area :body, class:"form-control form-control-sm"%>
</div>

<div class="form-group mb-2">
  <%= form.label :picture, style:"display:block" %>
  <%= form.file_field :picture, class:"form-control form-control-sm"%>
</div>

<div>
  <%= form.submit class:"btn btn-primary" %>
  <%= link_to "BackToArticle", articles_path, class:"btn btn-outline-primary" %>
</div>
<% end %>