<div class="d-flex align-items-center justify-content-center">
  

<% if @article.errors.any? %>
 <h1>The following errors prevented the article from being saved </h1>
 <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
 </ul>
<% end %>

<%= form_with(model: @article, local: true ) do |form| %>

<div class="form-group mb-2">
  <%= form.label :title, style:"display:block"  %></br>
  <%= form.text_field :title, class:"form-control form-control-lg" %>
</div>

<div class="form-group mb-2">
  <%= form.label :body, style:"display:block" %></br>
  <%= form.text_area :body, class:"form-control form-control-lg" %>
</div>

<div>
  <%= form.submit class:"btn btn-primary" %>
  <%= link_to "BackToArticle", articles_path, class:"btn btn-outline-primary" %>
</div>
<% end %>