<div class="mt-4">
  <div class="col-lg-8 mx-auto">
    <div class="card shadow">
      <div class="card-body">
        <p><strong>title: </strong><%= @article.title %></p>
        <p><strong>Body: </strong><%= @article.body %></p>
      </div>
    </div>
    <div class= "mt-2">
      <%= link_to "edit", edit_article_path(@article), class:"btn btn-warning" %>
      <%= link_to "BackToArticle", articles_path, class:"btn btn-outline-primary"%>

      <%= link_to "delete", article_path(@article), data:{
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %>
    </div>
  </div>
</div>